<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.sysam_base.dao.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="roleMap" type="com.zxy.sysam_base.entity.Role">
        <id column="id" property="id"/>
        <result column="rolesign" property="rolesign"/>
        <result column="rolename" property="rolename"/>
        <result column="remark" property="remark"/>
        <result column="enable" property="enable"/>
        <result column="creator" property="creator"/>
        <result column="createtime" property="createtime"/>
        <result column="updatetime" property="updatetime"/>
        <result column="isdel" property="isdel"/>
        <result column="describes" property="describes"/>
        <collection property="roleMenus" ofType="com.zxy.sysam_base.entity.RoleMenu"
                    select="com.zxy.sysam_base.dao.RoleMenuMapper.getByRoleId" column="id"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rolesign, rolename, remark, enable, creator, createtime, updatetime, isdel, describes
    </sql>

    <!--通过角色id查询角色信息-->
    <select id="getRoleById" resultMap="roleMap">
        SELECT * FROM sys_role where id = #{id};
    </select>

</mapper>
